
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alert-info{
    display: flex;
    background: lightskyblue;
    justify-content: center;
    height: 3em;
    border: 2px solid lightgray;
    align-items: center;
    width: 100%;
}

.alert-info a{
    text-decoration: none;
    color: black;
}

nav{
    width: 100%;
    justify-content: center;
    align-items: center;
}


h1{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5em;
    margin: 0;

}

ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;

    padding :0;
}

ul li{
    flex-grow: 1;
    background: lightgray;
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 3em;
    margin: 5px 0 0 0;
    padding: 1em 0 0 0;
}

.header-img{
    width: 100%;
}

.header-img img{
    width: 100%;
}

.main{
    width: 100%;
}

.sub-section{
    width: 100%;
    font-style: italic;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#social-media-links{
  margin-top: 1em;
}

i{
    padding: 0;
    margin: 0;
}

.hidden-on-desktop{

}



.nav-links {
    width: 100%;
}



@media screen and (min-width:576px){
.hidden-on-desktop{
    display:none;
}
    body{
display:flex;
        flex-flow: row wrap;
    }


h1 {
font-size: 2.5em;
    width: 60%;
    margin-right: auto;
    text-align: left;
}

nav{
    width: 40%;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
    width: 50%;
    padding: 2px;
}

ul{
    text-align: right;
    display: flex;
    justify-content: right;
    margin-left: auto;


}

    ul li{
        display: inline;
        background: none;
    }

.main{
    width: 60%;
    margin: 0;
    padding: 0;
}
.sub-section{
    width: 40%;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
}